/* BODY */
html {
    font-size: 16px;
    font-family: "Verdana";
}

body {
    background: linear-gradient(rgb(66, 68, 155), white);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
}

/* HEADER */
.app-header {
    padding: 0 1.5rem;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(66, 68, 155);
}

.app-header a {
    text-decoration: none;
    color: white;
}

.app-header h1 {
    margin: 0;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
}

.app-header .hamburger {
    display: none;
    margin-top: 1rem;
    color: white;
    font-size: 20px;
    font-weight: normal;
}

/* NAVIGATION */
ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
}

ul.menu a {
    margin: 0 1rem;
}

.app-header .barre-recherche-pc{
    display: flex;
}

.app-header .barre-recherche-tablette{
    display: none;
}

/* MAIN */
.app-maincontenu {
    display: grid;
    align-items: center;
}

.app-maincontenu section {
    display:grid;
    padding: 3rem 1.5rem;
    align-items: center;
}

.app-maincontenu .offre {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.app-maincontenu .offre a {
    color: white;
    font-weight: 900;
    font-size: 90px;
}

.app-maincontenu .offre span {
    font-size: 30px;
    color: white;
}

/* VIGNETTES ACCUEIL*/
.vignettes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}

.vignette {
    text-align: center;
    border: 1px solid #cfcfcf;
    background-color: rgba(255, 255, 255, 0.5);
}

.vignette-image {
    display: block;
    position: relative;
    overflow: hidden;
    height: 200px;
}

.vignette-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prix {
    font-size: 30px;
}

/* COMPORTEMENT DES VIGNETTES EN MODE PC */
.vignette .vignette-option-pc {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}

.vignette .vignette-option-pc a {
    text-decoration: none;
    color: red;
}

/* COMPORTEMENT DES VIGNETTES EN MODE TABLETTE */
.vignette .vignette-option-tablette {
    display: none;
    justify-content: space-around;
    font-size: 20px;
}

/* BANNIERE CTA */
.bandeau-inscription {
    display: inline;
    text-align: center;
}

.bandeau-inscription div{
    background-color: rgb(64, 64, 153);
}

.bandeau-inscription a {
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

.zone-vignette-tendance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}

/* FOOTER */
.app-footer {
    padding: 3rem 1.5rem;
}


/* FEUILLE INSCRIPTION */


form {
    display: grid;
    width : 40%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1.5rem;
    margin: 0 auto;
}


fieldset {
    border: none;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 3rem;
    background-color: #cfcfcf;
    box-shadow: 4px 4px 8px rgb(66, 68, 155);
    margin-bottom: 1.5rem;
}

legend {
    margin-bottom: 1rem;
    font-weight: bold;
    transform: translateY(-1rem) translateX(-0.75rem);
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-top-right-radius: 3rem;
    background-color: #cfcfcf;
}

.form-group {
    display: grid;
    grid-template-columns: 4fr 6fr;
    margin-bottom: 1rem;    
}

.form-envoyer {
    text-align : right;
}

.form-envoyer button[type="submit"] {
    border: none;
    font-size: 1.5rem;
    color: white;
    background-color: green;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 3rem;
    box-shadow: 4px 4px 8px rgb(1, 199, 1);
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

label {

    font-size: 14px;
    color: black;
    margin-right: 1rem;
    text-align: right;
}

label span {
    color: red;
}

textarea {
    width: 90%;
}

select {
    width: 50%;
}

.submit {
    background-color: transparent;
    box-shadow: none;
}

.submit .form-group {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

/* FORMULAIRE D INSCRIPTION */

.formulaire-connexion {
    display: flex;
}

/* MISE EN FORME BOUTON FORMULAIRE */

.submit .form-group button {
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
}

.submit .form-group button[type="submit"] {
    border: none;
    font-size: 1.5rem;
    color: white;
    background-color: green;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 3rem;
    box-shadow: 4px 4px 8px rgb(1, 199, 1);
}

.submit .form-group button[type="cancel"] {
    color: black;
    font-size: 1rem;
    background-color: white;
    border: 2px solid orangered;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 3rem;
    box-shadow: 4px 4px 8px orangered;
}

p.error {
    padding: 0.5rem 1rem;
    margin: 2rem auto 4rem;
    width: 40%;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: red;
    border-radius: 1.5rem;;
}

p.success {
    padding: 0.5rem 1rem;
    margin: 2rem auto 4rem;
    width: 40%;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: green;
    border-radius: 1.5rem;;
}




/* Media query pour les smartphones */
@media (max-width: 768px) {
    /* BARRE DE NAVIGATION */
    .app-header {
        padding: 0 0.85rem;
    }

    .app-header h1 {
        margin: 0;
        padding-right: 0.25rem;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
    .app-header nav {
        display: none;
    }

    .app-header .barre-recherche-pc{
        display: none;
    }

    .app-header .barre-recherche-tablette{
        display: flex;
    }

    .app-header .hamburger {
        display: block;
        position: relative;
        overflow: hidden;
        object-fit: cover;
        height: 100%;
        text-align: right;
    }

    /* VIGNETTES */
    .vignettes {
        display: block;
    }

    .vignettes .vignette {
        margin-bottom: 1.5rem;
    }

    .vignette .vignette-option-pc {
        display: none;
        justify-content: space-around;
        font-size: 20px;
    }

    .vignette .vignette-option-tablette {
        display: flex;
        justify-content: space-around;
        font-size: 30px;
    }

    /* DESCRIPTION DU FORMULAIRE DANS INSCRIPTION.html */

form {
    display: block;
}

}