body{
    font-family: "Comic Sans MS", cursive;
    background-color:white;
    margin:0;
    padding:0;
}

#header-menu{
    height:85px;
}

#nav-menu{
    background-color:#16488a;
 /*   border: 2px solid yellow;  */
    height:45px;
    color:white;
    margin:0;
    padding:0;
}

#ul-menu{
    display:flex;
    justify-content:center;
    list-style:none;
    margin:0;
    padding:0;
}

li{
    font-size:13px;
    text-align:center;

}
.zone-menu{
    width:13%;
    height:40px;
 /*   border:2px solid green;  */
}

.zone-menu2{
    width:13%;
    height:40px;
    margin-top:10px;
}

#zone-recherche{
    width:40%;
    height:40px;
    margin-top:10px;
 /*   border:2px solid red;  */
}

#zone-panier{
    width:8%;
    height:40px;
    margin-top:10px;
/*    border:2px solid red; */   
}

.zone-sous-menu{
    font-weight:bold;
 /*   border:2px solid green; */
    color:white;
    width:90px;
    height:32px;
    padding-right:20px;
    padding-top:8px;
}

.zone-sous-menu2{
    color:white;
    font-weight:bold;
    height:32px;
/*    border:2px solid green; */
    width:140px;
    padding-right:20px;
    padding-top:8px;
}

#zsm-solde{
    color:white;
    font-weight:bold;
    height:32px;
/*    border:2px solid green; */
    text-align:right;
    width:240px;
    padding-right:20px;
    padding-top:8px;
}

#ul-sous-menu{
    background-color:#6087a6;
    display:flex;
    justify-content:left;
    list-style:none;
    margin:0;
    padding:0;
}

#nav-offre{
    background: linear-gradient(#F66, #FFF);
    height: 350px;
    width: 98%;
    text-align: center;
    margin-left: 1%;
    padding: 0;
}

#ul-nav-offre{
    height:7%;
    display:flex;
    list-style:none;
    justify-content:center;
    margin:0px;
    padding:40px;
}

.li-fleche{
    font-weight:bold;
    font-family:'Verdana';
    color:#fff;
    font-size:50px;
}

#li-contenu{
    font-weight:bold;
    width:70%;
    color:#fff;
    font-size:25px;
    padding-top:15px;
}

#ul-offre{
    height:350px;
    display:flex;
    list-style:none;
    justify-content:center;
    margin-top:80px;
    margin-left:50px;
    margin-right:50px;
    
    padding:50px;
}

.choix-offre{
    background-color:white;
    border:1px solid black;
    width:20%;
    margin:30px;
}